.single-main-container {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.single-child-container {
  display: flex;
  flex-direction: row;

}

.single-image-container {
  width: 70%;

}

.single-image-container > img {
  width: 100%;
  object-fit: contain;
  border-radius: 7px;
}

.single-info-container {
  margin: 5px;
}
