.all-useritems-main-container {
  display: flex;
  justify-content: center;
  margin-top: 83px;
}

.all-useritems-container {
  display: flex;
  flex-direction: column;
}

.all-useritems-list {
  display: flex;
  flex-wrap: wrap;
}

.listings-header {
  align-self: center;
}

.empty-user-list-button {
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: large;
}
