.delete-review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 240px;
}

.delete-review-container > button {
  padding: 12px;
  width: 330px;
  margin-bottom: 8px;
}

.delete-review-confirm-button {
  background-color: #fcd80f;
  border-radius: 4px;
  color: black;
  font-size: 17px;
  white-space: nowrap;
  border: none;
}

.delete-review-keep-button {
  background-color: #a8a8a8;
  border-radius: 4px;
  color: black;
  font-size: 17px;
  white-space: nowrap;
  border: none;
}
