.review {
  border: 1px solid gray;
  margin: 5px 2px;
  border-radius: 5px;
  width: 50%;
}

.review > p {
  padding-left: 5px;
  margin: 8px 1px;
}

.review-buttons {
  display: flex;
  gap: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.pre-add-review-button > button{
  border: 1px solid grey;
  padding: 8px 100px;
  border-radius: 10px;
  font-size: large;
}

.review-section {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}

.edit-button > button {
  width: 60px;
  background-color: #fcd80f;
  border-radius: 4px;
  color: black;
  border: none;
}

.delete-button > button {
  width: 60px;
  background-color: #fcd80f;
  border-radius: 4px;
  color: black;
  border: none;
}
