.log-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 390px;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  width: 330px;
}

.log-in-form > input {
  margin-top: 5px;
  padding: 8px 3px;
  border: 1px #b3b3b3 solid;
  color: rgb(66, 64, 64);
  border-radius: 3px;
  margin-bottom: 10px;
}

.log-in-header {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  width: 330px;
}

.log-in-button-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.log-in-button {
  padding: 10px 130px;
  background-color: #fcd80f;
  border-radius: 4px;
  border: 1px solid grey;
  color: black;
  font-size: 15px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  width: 330px;
}

.demo-user-button-div {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.demo-user-button {
  padding: 10px 100px;
  background-color: #fcd80f;
  border-radius: 4px;
  border: 1px solid grey;
  color: black;
  font-size: 15px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  width: 330px;
}

.log-in-form > label {
  display: flex;
  align-items: center;

}

.log-in-form > label > p {
  color: red;
  padding-left: 7px;
  margin: 0px;

}
