.profile-dropdown-main-span {

}

.profile-button {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px 8px;
  margin: 1px;
}

.profile-greeting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-button > i {
  padding-left: 3px;
  color: #a1a1a1;
}

.profile-button:hover {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 10px 7px;

}

.profile-dropdown {
  position: absolute;
  top: 58px;
  right: 20px;
  background-color: #c4bdbd;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 4px;
  /* gap: 10px; */
  border-radius: 3px;
}

.profile-dropdown:hover {
  cursor: pointer;
}
.profile-user-info {
  cursor: default;
  font-size: 15px;
  padding: 10px 70px 10px 20px;
}

.nav-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #131921;
  padding: 2px 30px;
}

li {
  list-style-type: none
}

.page-logo {
  min-height: 20%;
  width: auto;
  height: 100%
}

.page-logo:hover {
  cursor: pointer;
}

.list-item:hover {
  cursor: pointer;
}

.profile-greeting {
  color: #FFFFFF;
  margin: 0px;
}

.profile-greeting-label {
  font-weight: bold;
  font-size: 18px;
}
