.edit-product-container {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-product-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-product-form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-product-form > div > input {
  padding: 2px 3px;
  border: 1px #b3b3b3 solid;
  color: rgb(66, 64, 64);
  border-radius: 3px;
  margin-bottom: 3px;
}

.edit-header {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.edit-product-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.edit-product-butt {
  padding: 10px 50px;
  background-color: #fcd80f;
  border-radius: 4px;
  border: 1px solid grey;
  color: black;
  font-size: 15px;
  white-space: nowrap;
  border: none;
  cursor: pointer;

}

.edit-form-image-div {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 6px 6px 18px;
  border-radius: 5px;
}

.edit-form-image {
  align-self: center;
  height: 50px;
  width: 50px;
}
.edit-form-x {
  align-self: flex-end;
  margin: 0px;
  font-size: 10px;
}

.edit-form-x:hover {
  cursor: pointer;
}
